@font-face {
  font-family: "KSA";
  src: url("fonts/KSARegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.fadeIn {
  transition-duration: 1.8s;
  opacity: 1;
}
.fadeOut {
  transition-duration: 1.8s;
  opacity: 0;
}

:root {
  /*Page Setting*/
  --numbers-font: KSA;
  --secondary: rgb(229, 175, 39); /*rgb(229, 175, 39);*/
  --primary: rgb(0, 0, 0);
  --pattern-color: rgb(226, 233, 248);
  --test: rgb(94, 94, 130);

  --message-font-size: max(3.5vw, 3.5vh);
  --message-font-color: black;
  --message-bg-color: white;
  --message-border-color: var(--secondary);
  --message-footnote-color: red;
  --message-title-font-size: calc(var(--message-font-size) * 0.7);
  --message-title-color: var(--message-font-color);
  --message-title-underline-color: var(--message-border-color);

  --prayer-time-font-size: calc(Var(--message-font-size) * 0.65);
  --prayer-time-font-color: var(--message-bg-color);
  --prayer-name-font-size: calc(Var(--message-font-size) * 0.65);
  --prayer-name-font-color: var(--secondary);

  --prayer-group-bg-color: rgb(2, 2, 43);
  --prayer-group-border-color: var(--pattern-color);

  --notification-time-font-color: var(--message-font-color);

  --box-shadow-color: rgb(0, 0, 0);
}
* {
  font-family: KSA;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0s;
}
.card2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
html {
  background-color: var(--pattern-bg-color-2);
}
body {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  direction: rtl;
}
.rotateBodyLeft {
  transform: rotate(-90deg);
  transform-origin: left top;
  width: 100vh;
  height: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}
.rotateBodyRight {
  transform: rotate(90deg);
  transform-origin: right top;
  width: 100vh;
  height: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  right: 0;
}

.theme-pattern-1 {
  /*PATTERN*/
  --a: var(--pattern-color);
  --b: white;
  --c: var(--pattern-color);
  background: radial-gradient(var(--a) 3px, transparent 4px),
    radial-gradient(var(--a) 3px, transparent 4px),
    linear-gradient(var(--b) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      var(--c) 75px,
      var(--c) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      var(--c) 76px,
      var(--c) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--b);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.main {
  padding: 5px 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.notifications-container {
  background-color: var(--prayer-group-bg-color);
  border: 1px solid var(--prayer-time-font-color);
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: none;
  margin: 5px;
}
.notification {
  font-size: calc(var(--prayer-name-font-size) * 1.6);
  color: var(--prayer-time-font-color);
  display: inline-block;
  margin-left: 10px;
}
.notification-timer {
  font-family: var(--numbers-font);
  font-size: calc(var(--prayer-time-font-size) * 1.5);
  color: var(--prayer-time-font-color);
  padding: 0px 5px;
  min-width: calc(var(--prayer-time-font-size) * 4);
  text-align: center;
  direction: rtl;
  display: inline-block;
  border-radius: 0 calc(var(--prayer-time-font-size) * 1) 0
    calc(var(--prayer-time-font-size) * 1);
  border-bottom: max(1px, calc(var(--prayer-time-font-size) * 0.09 * 2)) solid
    var(--prayer-name-font-color);
  border-top: max(1px, calc(var(--prayer-time-font-size) * 0.09 * 2)) solid
    var(--prayer-name-font-color);
  margin: 2px;
}
.prayer-group-container {
  background-color: var(--prayer-group-bg-color);
  border: 1px solid var(--prayer-group-border-color);
  border-radius: 6px;
  justify-content: center;
  display: flex;
  flex-grow: 0;
  margin: 5px 5px;
  flex-wrap: wrap;
}
.prayer-group {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
}
.prayer-name {
  font-size: var(--prayer-name-font-size);
  color: var(--prayer-name-font-color);
  display: inline-flex;
  min-width: max(5vw, 5vh);
  justify-content: left;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  padding-left: calc(var(--prayer-time-font-size) * 0.2);
}
.prayer-times {
  display: flex;
  flex-flow: column;
  padding: 0px;
  margin: 0px;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
}
.prayer-time {
  font-family: var(--numbers-font);
  font-size: var(--prayer-time-font-size);
  color: var(--prayer-time-font-color);
  letter-spacing: 0.15em;
  border-radius: calc(var(--prayer-time-font-size) * 0.5) 0 0
    calc(var(--prayer-time-font-size) * 0.5);
  padding: 0 0 0 calc(var(--prayer-time-font-size) * 0.5);
  display: inline-flex;
  min-width: calc(var(--prayer-time-font-size) * 4);
  justify-content: right;
  font-weight: bold;
}
.prayer-athan {
  border-bottom: max(1px, calc(var(--prayer-time-font-size) * 0.09)) solid
    var(--prayer-name-font-color);
}
.prayer-iqama {
  font-size: calc(var(--prayer-time-font-size) * 0.7);
  border-top: max(1px, calc(var(--prayer-time-font-size) * 0.09)) solid
    var(--prayer-name-font-color);
}
.prayer {
  text-align: right;
  min-width: 55px;
  margin: 0px 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.header-item {
  margin: 1px;
}
.main-item {
  flex-wrap: wrap;
  font-size: var(--message-font-size);
  color: var(--message-font-color);
  background-color: var(--message-bg-color);
  border: 0px solid var(--prayer-group-bg-color);
  border-radius: 0 0 15px 15px;
  padding: 10px 10px;
}
.message {
  padding-left: 0.5em;
  padding-right: 0.5em;
  animation: fadeIn 5s;
  overflow: hidden;
}
.date {
  text-align: right;
  color: var(--message-font-color);
  font-family: var(--numbers-font);
  min-width: calc(var(--message-title-font-size) * 4.5);
  font-size: var(--message-title-font-size);
  border-top: 2px solid var(--secondary);
  border-right: 2px solid var(--secondary);
  border-radius: 0 0 10px 0;
  padding-right: 5px;
}
.clock {
  text-align: left;
  color: var(--message-font-color);
  font-family: var(--numbers-font);
  min-width: calc(var(--message-title-font-size) * 4.5);
  font-size: var(--message-title-font-size);
  border-top: 2px solid var(--secondary);
  border-left: 2px solid var(--secondary);
  border-radius: 0 0 0 10px;
  padding-left: 5px;
}
.dhikerCount {
  display: inline;
  align-self: center;
  text-align: center;

  border-radius: 50%;
  margin: 0px 5px;
  background-color: var(--message-border-color);
  color: var(--message-bg-color);
}
.messageTitle {
  display: inline-block;
  color: var(--message-title-color);
  font-size: var(--message-title-font-size);
  margin-bottom: 10px;
  border-bottom: 2px solid var(--secondary);
  border-radius: 0 0 20px 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.messageTitleContainer {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  margin-bottom: 6px;
}
#messageIndex {
  margin-right: 10px;
}
.messageText {
  text-align: justify;
  padding-bottom: 0.5em;
}
.messageCountContainer {
  font-size: calc(var(--message-font-size) * 0.6);
  padding-bottom: 0.5em;
}
.messageCount {
  margin: 2px 10px;
  border-bottom: 2px solid var(--message-title-underline-color);
}
ol {
  list-style: arabic-indic;
  padding-right: 1em;
  font-size: calc(var(--message-font-size) * 0.6);
}
sup {
  font-size: calc(var(--message-font-size) * 0.6);
  color: var(--message-footnote-color);
}
.messageFootnotesContainer {
  border-top: 1.5px solid black;
  padding-top: 0.3em;
  font-size: calc(var(--message-font-size) * 0.6);
}
.messageFootnotesTitle {
}
ol li::marker {
  color: var(--message-footnote-color);
}
.messageListItem::marker {
  color: var(--secondary);
}
.messageListItem {
  font-size: var(--message-font-size);
}
.messageOL {
  padding-right: max(3vw, 3vh);
}
.braces {
  color: var(--secondary);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quranOpeningContainer {
  padding-bottom: 0.2em;
  margin: 0px 0px;
  text-align: center;
  font-size: calc(var(--message-font-size) * 0.6);
}

.qr {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.qr-container {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: max(5vw, 5vh);
}
.colon-slash {
  color: var(--message-font-color);
}

/* ---------- */
/* Menu Style */
/* ---------- */
.menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  font-size: var(--message-font-size);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 10px;
}
.menuSection {
  background-color: var(--message-bg-color);
  text-indent: 10px;
  border-radius: 5px 5px 0px 5px;
  border-right: 2px solid var(--message-font-color);
  border-bottom: 2px solid var(--message-font-color);
  margin-bottom: 30px;
}

.menuSectionTitle {
  cursor: pointer;
}
.menuSectionTitle > span:first-child {
  color: var(--secondary);
}
.active,
.menuSection:hover {
  border-color: var(--secondary);
}

.menuSectionBody {
  font-size: calc(var(--message-font-size) * 0.8);

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
