@font-face {
  font-family: "KSA";
  src: url("fonts/KSARegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.fadeIn {
  transition-duration: 1.8s;
  opacity: 1;
}
.fadeOut {
  transition-duration: 1.8s;
  opacity: 0;
}

:root {
  /*Page Setting*/
  --numbers-font: KSA;
  --secondary: rgb(229, 175, 39); /*rgb(229, 175, 39);*/
  --primary: black;

  --message-font-size: max(3.5vw, 3.5vh);
  --message-font-color: black;
  --message-bg-color: white;
  --message-border-color: var(--secondary);
  --message-footnote-color: red;
  --message-title-font-size: calc(var(--message-font-size) * 0.7);
  --message-title-color: var(--message-font-color);
  --message-title-underline-color: var(--message-border-color);

  --prayer-time-font-size: calc(Var(--message-font-size) * 0.65);
  --prayer-time-font-color: var(--message-bg-color);
  --prayer-name-font-size: calc(Var(--message-font-size) * 0.65);
  --prayer-name-font-color: var(--secondary);

  --prayer-group-bg-color: var(--primary);
  --prayer-group-border-color: var(--primary);

  --notification-time-font-color: var(--message-font-color);

  --pattern-bg-color-1: var(--primary);
  --pattern-bg-color-2: var(--primary);

  --box-shadow-color: rgb(0, 0, 0);

  --pattern-size: max(3vw, 3vh);
}
* {
  font-family: KSA;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0s;
}
.card2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
html {
  background-color: var(--pattern-bg-color-2);
}
body {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  direction: rtl;
}
.fullScreen {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  font-size: calc(var(--message-font-size) * 1.5);
  color: white;
  background-color: black;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  display: none;
}

.theme-pattern-1 {
  /*PATTERN*/
  --a: #fff;
  --b: black;
  --c: #a4a4a4;
  background: radial-gradient(var(--a) 3px, transparent 4px),
    radial-gradient(var(--a) 3px, transparent 4px),
    linear-gradient(var(--b) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      var(--c) 75px,
      var(--c) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      var(--c) 76px,
      var(--c) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--b);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.main {
  padding: 5px 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.prayer-group-container {
  background-color: var(--prayer-group-bg-color);
  border: 2px solid var(--prayer-group-border-color);
  border-radius: 6px;
  justify-content: center;
  display: flex;
  flex-grow: 0;
  margin: 5px 5px;
  flex-wrap: wrap;
}
.prayer-group {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
}
.notifications-container {
  background-color: var(--message-bg-color);
  border: 1px solid var(--message-font-color);
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  padding: 8px 8px;
  flex-grow: 1;
  display: none;
}
.notification {
  font-size: var(--prayer-name-font-size);
  color: var(--message-font-color);
  display: inline-block;
}
.notification-timer {
  font-family: var(--numbers-font);
  font-size: var(--prayer-time-font-size);
  color: var(--notification-time-font-color);
  border-bottom: 3px solid var(--notification-time-font-color);
  border-radius: 3px;
  padding: 0px 5px;
  min-width: calc(var(--prayer-time-font-size) * 3);
  text-align: center;
  direction: rtl;
  display: inline-block;
}

.prayer-name {
  font-size: var(--prayer-name-font-size);
  color: var(--prayer-name-font-color);
  display: inline-flex;
  min-width: max(5vw, 5vh);
  justify-content: center;
}
.prayer-time {
  font-family: var(--numbers-font);
  font-size: var(--prayer-time-font-size);
  color: var(--prayer-time-font-color);
  letter-spacing: 0.15em;
  border-bottom: 3px solid var(--prayer-time-font-color);
  border-radius: 3px;
  padding: 0px 5px;
  display: inline-flex;
  min-width: max(8vw, 8vh);
  justify-content: center;
}
.prayer {
  text-align: right;
  min-width: 55px;
  margin: 8px;
  display: inline;
}
.header-item {
  margin: 1px;
}
.main-item {
  flex-wrap: wrap;
  font-size: var(--message-font-size);
  color: var(--message-font-color);
  background-color: var(--message-bg-color);
  border: 2px solid var(--message-border-color);
  border-radius: 5px;
  padding: 10px 10px;
}
.message {
  padding-left: 0.5em;
  padding-right: 0.5em;
  animation: fadeIn 5s;
  overflow: hidden;
}
.date {
  text-align: start;
  color: var(--message-title-underline-color);
  font-family: var(--numbers-font);
  min-width: max(14vw, 14vh);
  padding-right: 1vw;
  border-radius: 5px;
  font-size: var(--message-title-font-size);
}
.clock {
  text-align: end;
  color: var(--message-title-underline-color);
  font-family: var(--numbers-font);
  min-width: max(14vw, 14vh);
  padding-left: 1vw;
  font-size: var(--message-title-font-size);
}
.dhikerCount {
  display: inline;
  align-self: center;
  text-align: center;

  border-radius: 50%;
  margin: 0px 5px;
  background-color: var(--message-border-color);
  color: var(--message-bg-color);
}
.messageTitle {
  display: inline-block;
  color: var(--message-title-color);
  font-size: var(--message-title-font-size);
  margin-bottom: 10px;
  border-bottom: 2px solid var(--message-title-underline-color);
  padding-right: 5px;
  padding-left: 5px;
}
.messageTitleContainer {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  margin-bottom: 6px;
}
#messageIndex {
  margin-right: 10px;
}
.messageText {
  text-align: justify;
  padding-bottom: 0.5em;
}
.messageCountContainer {
  font-size: calc(var(--message-font-size) * 0.6);
  padding-bottom: 0.5em;
}
.messageCount {
  margin: 2px 10px;
  border-bottom: 2px solid var(--message-title-underline-color);
}
ol {
  list-style: arabic-indic;
  padding-right: 1em;
  font-size: calc(var(--message-font-size) * 0.6);
}
sup {
  font-size: calc(var(--message-font-size) * 0.6);
  color: var(--message-footnote-color);
}
.messageFootnotesContainer {
  border-top: 1.5px solid black;
  padding-top: 0.3em;
  font-size: calc(var(--message-font-size) * 0.6);
}
.messageFootnotesTitle {
}
ol li::marker {
  color: var(--message-footnote-color);
}
.messageListItem::marker {
  color: var(--secondary);
}
.messageListItem {
  font-size: var(--message-font-size);
}
.messageOL {
  padding-right: max(3vw, 3vh);
}
.braces {
  color: var(--secondary);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quranOpeningContainer {
  padding-bottom: 0.2em;
  margin: 0px 0px;
  text-align: center;
  font-size: calc(var(--message-font-size) * 0.6);
}
@media screen and (max-width: 700px) {
  .clock {
    display: none;
  }
  .date {
    display: none;
  }
  .messageTitleContainer {
    justify-content: center;
  }
}
.qr {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.qr-container {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: max(5vw, 5vh);
}
.colon-slash {
  color: var(--message-font-color);
}
